* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #d8dede;
}


.dashboard-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #001F3F;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #3A6D8C;
    font-size: 1.2rem;
}

section {
    margin-bottom: 40px;
}

.overview-section, .businesses-section, .reports-section {
    background-color: #EAD8B1;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 1.8rem;
    color: #001F3F;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card {
    background-color: #6A9AB0;
    color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    transition: transform 0.3s ease;
    margin-bottom: 5px;
}

.card:hover {
    transform: scale(1.05);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #3A6D8C;
    color: white;
}

button {
    background-color: #001F3F;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3A6D8C;
}

.report-summary {
    text-align: center;
}

.report-summary p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.rounded-button {
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.rounded-button:hover {
    background-color: #0056b3;
}

.main-content {
    padding: 30px;
}

.overview-section, .businesses-section, .reports-section {
    margin-bottom: 40px;
}

.business-card {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

.text-center {
    margin-bottom: 30px;
}
