* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.dashboard-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #001F3F;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #3A6D8C;
    font-size: 1.2rem;
}

section {
    margin-bottom: 40px;
}

.users-section {
    background-color: #EAD8B1;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    font-size: 1.8rem;
    color: #001F3F;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #3A6D8C;
    color: white;
}

button.edit-btn , button.delete-btn {
    background-color: #001F3F;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 10px;
}

button.edit-btn:hover {
    background-color: #6A9AB0;
   
}

button.delete-btn:hover {
    background-color: #B22222;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
    background-color: white; 
    margin: 15% auto; 
    padding: 20px; 
    border: 1px solid #888; 
    border-radius: 10px;
    width: 80%; 
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-bottom: 1px solid #ddd;
}

.modal-header h2 {
    margin: 0;
    color: #001F3F; 
}


.close {
    color: #aaa; 
    font-size: 28px; 
    font-weight: bold; 
    cursor: pointer; 
}

.close:hover,
.close:focus {
    color: #000; 
    text-decoration: none; 
    cursor: pointer; 
}


.modal-body {
    margin: 20px 0; 
}


.modal-footer {
    display: flex; 
    justify-content: flex-end; 
    border-top: 1px solid #ddd; 
    padding-top: 10px; 
}

.modal-footer button {
    padding: 10px 15px;
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

.modal-footer .btn-primary {
    background-color: #3A6D8C; 
    color: white; 
}

.modal-footer .btn-secondary {
    background-color: #ddd; 
    color: #000; 
}

.modal-footer .btn-primary:hover {
    background-color: #6A9AB0; 
}

.modal-footer .btn-secondary:hover {
    background-color: #ccc; 
}
