body {
    background-color: #d8dede !important; /* Use !important to override other styles */
}


.container {
    background-color: #ffffff; /* White background for content */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

h1, h2 {
    color: #333; /* Darker text for headings */
}

.table-responsive {
    margin-top: 20px;
}




