
body {
    font-family: Arial, sans-serif;
}

.container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}



h2 {
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
}


.form-group label {
    font-weight: bold;
    color: #333;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none;
}


.btn-primary {
    background-color: #001F3F; 
    border-color: #001F3F;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #003366;
    border-color: #003366;
}


.table {
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0;
}

.table th, 
.table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #fff;
}

.table th {
    background-color: #f1f1f1;
    font-weight: bold;
    color: #333;
}

.table tbody tr:hover {
    background-color: #f9f9f9;
}

